
logs
.DS_Store

# Build Targets
.prebuild
.npminstall

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.xml
# Folders
_obj
_test

# Log files
*mattermost.log
*npm-debug.log*
*.yaml
*.lock
*.bat
.tmp

# Vim temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.agignore
.ctags
tags
